<footer class="site-footer h-card">
  <data class="u-url" href="/testestest/"></data>

  <div class="wrapper">

    <h2 class="footer-heading"><b>
    <a href="https://santa-test-factory.github.io/testestest/pages/about/about.html"> Read more about ORCHS here!</a>
    </b></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Santa Upeniece</li><li><a class="u-email" href="mailto:santa.upeniece@sap.com">santa.upeniece@sap.com</a></li></ul>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"></ul>
</div>

      <div class="footer-col footer-col-3">
        <p>Test site for Testestest docu</p>
      </div>
    </div>

  </div>

</footer>
